<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1>Lista de pagos</h1>

		<br>

		<div class="alert alert-info" role="alert" ng-show="vm.messageInfo != ''">{{vm.messageInfo}}</div>
		<div class="alert alert-success" role="alert" ng-show="vm.messageSuccess != ''">{{vm.messageSuccess}}</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.messageError != ''">{{vm.messageError}}</div>


		<table class="table table-striped">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Cliente</th>
					<th>Pago</th>
					<th>Url</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pago in vm.pagos">
					<th>{{pago.fecha}}</th>
					<td>{{pago.cliente}}</td>
					<td>{{pago.nombre}}</td>
					<td><a href="{{pago.url}}" target="_blank">{{pago.url}}</a></td>
				</tr>
			</tbody>
		</table>


	</div>
</div>