<div class="row">
	<div class="col-md-12">

		<h1>Lista de pagos</h1>

		<br>

		<div class="alert alert-info" role="alert" ng-show="vm.messageInfo != ''">{{vm.messageInfo}}</div>
		<div class="alert alert-success" role="alert" ng-show="vm.messageSuccess != ''">{{vm.messageSuccess}}</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.messageError != ''">{{vm.messageError}}</div>


		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 200px;">Fecha</th>
					<th>Cliente</th>
					<th>Pago</th>
					<th>Pagado</th>
					<th style="width: 250px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pago in vm.pagos">
					<td>{{pago.fecha}}</td>
					<td>{{pago.cliente}}</td>
					<td>{{pago.nombre}}</td>
					<td>
						<span class="label label-success" ng-show="pago.pagado == 1">Si</span>
						<span class="label label-danger" ng-show="pago.pagado != 1">No</span>
					</td>
					<td>
						<a href="{{pago.url}}" target="_blank" class="btn btn-default">Ir al pago</a>
						<a href="/#/edit/{{pago._id}}" class="btn btn-primary">Editar</a>
						<a href="javascript:;" ng-click="vm.remove(pago)" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>


	</div>
</div>
